.title-skills {
    display: flex;
    align-items: center;
}

.title-skills h1 {
    margin-right: 20px;
}

.title-skills input {
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgb(68, 68, 69);
    color: white;
    padding-bottom: 7px;
    width: 100px;
    transition: all 0.4s;
}

.title-skills input:focus {
    background: transparent;
    border: 0 transparent;
    outline-style: none;
    border-bottom: 2px solid rgb(68, 68, 69);
    min-width: 240px;
}

.about-me-skills {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
}

.div-custom-hr {
    width: 100%;
    border-top: 2px solid rgb(68, 68, 69);
}

.skill-list {
    display: flex;
    align-items: center;
}

.skill-list span {
    font-size: 14px;
}

.skill-list img {
    width: 70px;
    margin-right: 10px;
}

@media screen and (max-width: 1149px) {
    .skill-list {
        display: block;
        align-items: left;
    }

    .skill-list img {
        margin-bottom: 10px;
    }
}