.app-portofolio-container {
  background: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-portofolio-box {
  background-color:  rgb(29, 30, 32);
  border: 1px solid rgb(42, 46, 46);
  padding-bottom: 20px;
  height: 90vh;
  width: 70vw;
  overflow-y: auto;
}

.app-portofolio-profile {
  position: fixed;
  top: 25px;
  left: 120px;
  height: 95vh;
  width: 300px;
  background-image:
   linear-gradient(black, black),
   url('/images/profile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: saturation;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}

.app-portofolio-profile-name {
  text-align: center;
  margin-top: auto;
  margin-bottom: 50px;
}

.app-portofolio-profile-name h4 {
  color: black;
  background: #F7E01A;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-portofolio-image {
  position: fixed;
  top: 20px;
}

.app-portofolio-image img {
  height: 95vh;
  width: 270px;
}

.app-portofolio-content {
  margin-left: 285px;
  margin-top: 30px;
  padding-right: 10px;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background:rgb(42, 46, 46); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(59, 62, 62); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media screen and (max-width: 1019px) {
  .app-portofolio-profile {
    position: absolute;
    top: 20px;
    left: 95px;
    height: 100px;
    width: 82vw;
    /* display: none; */
  }

  .app-portofolio-profile-name {
    text-align: center;
    margin-top: 12px;
  }

  .app-portofolio-content {
    margin-left: 20px;
    margin-top: 90px;
    padding-right: 10px;
  }

  .app-portofolio-box {
    margin-left: 95px;
  }
}

@media screen and (max-width: 600px) {
  .app-portofolio-profile {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .app-portofolio-profile-name {
    text-align: center;
    margin-top: 20px;
  }

  .app-portofolio-box {
    background-color:  rgb(29, 30, 32);
    border: 1px solid rgb(42, 46, 46);
    height: 100%;
    width: 100%;
    overflow-y: auto;
    margin-left: 0;
    margin-top: 50px;
  }

  .burger-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 67px;
    left: 10px;
    width: 43px;
    padding: 10px;
    border: 1px solid darkgrey;
    border-radius: 10px;
    cursor: pointer;
    background-color: indigo;
  }

  .burger-1 {
    width: 100%;
    height: 2px;
    background:  rgb(110, 112, 116);
    z-index: 3;
    margin-bottom: 5px;
  }

  .burger-2 {
    width: 100%;
    height: 2px;
    background:  rgb(110, 112, 116);
    z-index: 3;
    margin-bottom: 5px;
  }

  .burger-3 {
    width: 100%;
    height: 2px;
    background:  rgb(110, 112, 116);
    z-index: 3;
    margin-bottom: 2px;
  }
}

@media screen and (max-height: 800px) and (min-width: 1020px) {
  
  .app-portofolio-container {
    min-height: 930px;
  }

  .app-portofolio-profile {
    position: absolute;
    height: 760px;
    top: 85px;
  }

}

@media screen and (max-height: 750px) and (min-width: 1020px)  {
  
  .app-portofolio-container {
    min-height: 900px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .app-portofolio-box {
    height: 830px;
  }

  .app-portofolio-profile {
    position: absolute;
    height: 850px;
    top: 20px;
  }

}
