.contact-fieldset {
    margin-bottom: 30px;
}

.contact-fieldset-box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact-fieldset fieldset legend {
    margin-bottom: -18px;
}

.contact-fieldset-box h1 {
    margin-right: 20px;
    margin-left: 10px;
}

.contact-fieldset-link {
    margin-right: 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 10px;
    color: transparent;
    font-size: 0px;
    transition: all 0.2s;
}

.contact-fieldset-link:hover {
    border-color: indigo;
    color: white;
    font-size: 15px;
    background-color: indigo;
    margin-right: 50px;
}

.contact-fieldset-item img {
    width: 50px;
}

.contact-call {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.contact-call p {
    margin-bottom: 20px;
}

.contact-call-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-call-button button {
    margin-bottom: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: all 0.5s;
    background-color: rgba(204, 170, 228, 0.3);
    color: rgb(64, 30, 87);
}

.contact-call-button button:hover {
    background: indigo; 
    box-shadow: 3px 3px 4px 0px indigo;
    border-color: transparent;
    color: white;
}

@media screen and (max-width: 315px) {
    .contact-fieldset {
        margin-top: 115px;
    }

    .contact-fieldset-box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}