.experience-list {
    margin-bottom: 23px;
}

.experience-title span {
    margin-left: 14px;
}

.experience-title h5 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
    color: rgb(138, 128, 128);
}

.experience-title h6 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.experience-desc {
    border-bottom: 1px solid white;
}