.header-container {
    border-bottom: 1px solid rgba(130, 126, 126, 0.3);
    height: 50px;
    box-shadow: 3px 3px 4px 0px indigo;
}

.header-row {
    display: flex;
    padding: 10px;
}

.header-links {
    margin-left: auto;
}

.header-links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
}

.header-links a:hover {
    border-bottom: 1px solid rgb(102, 31, 152);
    color: rgb(102, 31, 152);
}

.link-active {
    color: rgb(102, 31, 152) !important;
    border-color: rgb(102, 31, 152) !important;
}

@media screen and (max-width: 1019px) {
    .header-container {
        border: 0px;
        box-shadow: none;
        height: 90vh;
        width: 120px;
        position: fixed;
        left: 9vw;
    }

    .header-row {
        display: flex;
        height: 100%;
    }

    .header-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-links a {
        margin-bottom: 30px;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        box-shadow: 3px 3px 4px 0px rgb(29, 30, 32);
        background-color:  rgba(29, 30, 32, 0.5);
    }

    .header-links a:hover {
        box-shadow: 3px 3px 4px 0px indigo;
        background-color:  rgb(29, 30, 32);
    }

    .header-links a:active {
        background-color:  indigo;
    }
}

@media screen and (max-width: 600px) {
    .header-container {
        left: 0;
        background-color:  rgb(29, 30, 32);
        height: 100%;
        width: 80px;
        transition: all 0.8s;
    }

    .hide-sidebar {
        left: -100px;
    }

    .show-sidebar {
        left: 0px;
    }

    .header-links {
        width: 120px;
        position: absolute;
        margin-top: 255px;
    }

    .header-links a {
        width: 55px;
        overflow: hidden;
        font-size: 23px;
        padding-right: 20px;
    }

    .header-links a:hover {
        width: 100%;
    }

    .header-links a:active {
        width: 100%;
    }
}
